<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <header>
           <img width="325" src="../images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
            <div>lugar para una barra de busquedas </div>
            <div>compra en cuotas y sin tarjeta de credito</div>
              <nav>
                 <ul>
                    <li><a href="#">"Ofertas"</a></li>
                    <li><a href="#">"Tiendas oficiales"</a></li>
                    <li><a href="#">"Vender"</a></li>
                    <li><a href="#">"Ayuda"</a></li>
                 <br>
                    <li><a href="#">"Crea tu cuenta "</a></li>
                    <li><a href="#">"Ingresa "</a></li>
                    <li><a href="#">"Mis compras "</a></li>
                </ul>
             </nav>    
        </header>
        
        <main>
            <section class="ultima visita">    
            <h4>Basado en tu ultima visita</h4>
                <img width="325" src="../images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                    <p id="precios">$6.670</p>
                    <p id="descuentos">40% OFF</p>
                    <p id="descripciones">Cafetera Moulinex</p>
                <br>
                <img width="325" src="../images/img-macbook-pro-2019.jpg" alt="imagen net mac">
                    <p id="precios">$230000</p>
                    <p>20% OFF</p>
                    <p id="descripciones">Macbook Pro 2019</p>
                <br>
                <img width="325" src="../images/img-samsung-galaxy-s10.jpg" alt="imagen telefono samsung">
                    <p id="precios">$70500</p>
                    <p id="descuentos">10% OFF</p>
                    <p id="descripciones">Samsung Galaxy S10</p>
                <br>
                <img width="325" src="../images/img-tv-samsung-smart.jpg" alt="imagen television samsung">
                    <p id="precios">$23200</p>
                    <p id="descuentos">5% OFF</p>
                    <p id="descripciones">SmartTv Samsung 43"</p>
                <br>
            </section>
            <section class="ofertas">
                <h4>Seccion de Ofertas </h4>
                <img width="325" src="../images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                    <p id="precios">$6.670</p>
                    <p id="descuentos">40% OFF</p>
                    <p id="descripciones">Moulinex</p>
                <br>
                <img width="325" src="../images/img-macbook-pro-2019.jpg" alt="imagen net mac">
                    <p id="precios">$230000</p>
                    <p id="descuentos">20% OFF</p>
                    <p id="descripciones">Macbook Pro 2019</p>
                <br>
                <img width="325" src="../images/img-samsung-galaxy-s10.jpg" alt="imagen telefono samsung">
                    <p id="precios">$70500</p>
                    <p id="descuentos">10% OFF</p>
                    <p id="descripciones">Samsung Galaxy S10</p>
                <br>
                <img width="325" src="../images/img-tv-samsung-smart.jpg" alt="imagen television samsung">
                    <p id="precios">$23200</p>
                    <p id="descuentos">5% OFF</p>
                    <p id="descripciones">SmartTv Samsung 43"</p>
            </section>            

        </main>

        <footer>
            <section>
                <h3>Pagá con tarjeta o en efectivo</h3> 
                    <p>Con Mercado Liebre Cash, tenés cuotas sin 
                        interés con tarjeta o efectivo en puntos de
                         pago. ¡Y siempre es seguro!</p>
                <h3>Envío gratis desde $ 2.500</h3>    
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos.</p>
                <h3> Seguridad, de principio a ﬁn </h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L.
                </p>
            </section>

        </footer>

    </body>        
</html>

 